:root {
  width: 100vw;
  height: 100%;
  background-color: hsl(0, 0%, 2%);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
#doc-head {
  position: fixed;
  background-color: #0e0e0e;
  top: 0;
  width: 100vw;
  left: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  margin: 1.5vh 7vw;
}

nav a {
  margin-left: 4vw;
}
.nav-links {
  text-decoration: none;
  color: #fbfbfb;
}
.nav-links:hover {
  color: #ffa500;
}

main {
  margin: 20vh 7vw;

  margin-bottom: 0vh;
  display: flex;
  justify-content: space-between;
}
#main-content {
  flex-basis: 36vw;
  margin-left: 4vw;
  animation-name: quickIn;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.805, 0.496, 0.676, 0.367);
}

.contents-height {
  line-height: 1.2;
}
h2 {
  font-weight: lighter;
}
h1 {
  font-size: calc(18px + 2vw);
}
h3 {
  color: #a6a6a6;
  font-weight: lighter;
  animation-name: quickIn;
  animation-duration: 6s;
}
h4 a {
  color: #ffa500;
  text-decoration: none;
  font-weight: lighter;
  animation-name: quickIn;
  animation-duration: 8s;
}
h4 a:hover {
  font-weight: 600;
}

#arrow {
  position: relative;
  top: 4px;
  font-size: 25px;
}

#profile {
  width: 23vw;
  margin-bottom: 10vw;
  margin-top: 4vw;
  border-radius: 10px;
}
@keyframes quickIn {
  0% {
    color: #000;
  }
  10% {
    color: #040404;
  }
}

@media (max-width: 1024px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    margin: 1.5vh 7vw;
  }
  main {
    margin: 15vh 5vw;
    margin-bottom: 0vh;
    display: flex;
    justify-content: space-between;
  }

  #profile {
    margin-top: 4vh;

    border-radius: 2vh;
  }
}
@media (max-width: 768px) {
  #navbar {
    font-size: 18px;
  }
  main {
    flex-direction: column-reverse;
    margin: 20px 8px;

    align-items: space-between;
  }

  #profile {
    border-radius: 10px;
    margin-left: 5vw;
    margin-top: 15vh;
  }
}
@media (max-width: 480px) {
  #navbar {
    font-size: 3vw;
  }
  main {
    flex-direction: column-reverse;
    margin: 20px 8px;
    height: 80%;
    align-items: space-between;
    width: 60vw;
    font-size: 13px;
  }

  #profile {
    margin-top: 10vh;

    margin-left: 5vw;
    border-radius: 6px;
  }
  #arrow {
    font-size: 6vw;
  }
}
